/*
#d9ead3 mint
#d0e0e3 glass
#cfe2f3 lightblue
#ead1dc dusty pink
#f4cccc dusty salmonpink
*/
* {
  box-sizing: border-box;
  font-family: "Delius", helvetica, sans-serif;
  line-height: 110%;
}

header {
  background-color: #d9ead3;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 13rem;
  background-image: url("https://i.imgur.com/z2jrUUr.png");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: left;
}
p {
  font-align: center;
}
h1, h2 {
  font-family: "Yatra One", cursive;
}

h1 {
  font-size: 3rem;
  color: #ead1dc;
  text-shadow: 3px 3px 6px #000000;

}
h2 {
  text-align: center;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-around;
  align-items: stretch;
}
.box {
  height: auto;
  border-radius: 3rem;
  background-color: #d0e0e3;
  margin: 1.5rem;
  padding: 2rem;

}
.fa-face-grin-hearts, .fa-fish, .fa-paw{
  color: #f4cccc;
  font-size: 2rem;
  text-align: center;
  padding-left: 1rem;
  padding-right: 1rem;
}
li {
  width: 100%;
  border-radius: 3rem;
  background-color: #f4cccc;
  padding: 1rem;
  margin-bottom: 1rem;
  justify-content: space-between;
}

 h2:hover {
  transition-duration: 2s;
  font-size: 1.5rem;
  color: #ead1dc;
  background-color: #000000;
  border-radius: 3rem;
  padding: 0.5rem;

}
.box2 {
  height: auto;
  border-radius: 3rem;
  background-color: #f4cccc;
  margin: 1.5rem;
  padding: 3rem;

}
a {
  color:#345D6A;
  font-weight: bolder;
}
a:hover {
  text-decoration-style: wavy;
}

aside {
  float: right;
  height: 20rem;
}
img {
  height: 20rem;
  border-radius: 3rem;
  border: 3px solid #d9ead3;
}
section {
  clear: left;
  width: 57%;
  background-color: #f4cccc;
  border-radius: 3rem;
  padding: 1rem;
  margin-bottom: 1.5rem;
}
footer {
  background-color: #cfe2f3;
  padding: 5rem;
  text-align: center;
}
