/*
#d9ead3 mint
#d0e0e3 glass
#cfe2f3 lightblue
#ead1dc dusty pink
#f4cccc dusty salmonpink
*/
* {
  box-sizing: border-box;
  font-family: helvetica, sans-serif;
  line-height: 110%;
}

header {
  background-color: #d9ead3;
  padding-top: 3rem;
  padding-bottom: 3rem;
  padding-left: 7rem;
  background-image: url("#");
  background-repeat: no-repeat;
  background-position: center;
}

h1, h2 {
  font-family: "Yatra One", cursive;
}

h1 {
  font-size: 3rem;
}
h2 {
  text-align: center;
}
.container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  align-items: baseline;
}
.box {
  width: 27%;
  border-radius: 3rem;
  background-color: #d0e0e3;
  margin: 2rem;
  padding: 2rem;

}
.fa-fishing-rod {
  font-size: 2rem;
  color: white;
}
li {
  width: 100%;
  border-radius: 3rem;
  background-color: #f4cccc;
  padding: 1rem;
  margin-bottom: 1rem;
  justify-content: space-between;
}

h2:hover {
  transition-duration: 2s;
  font-size: 2rem;
  color: #ead1dc;
  background-color: #000000;
  border-radius: 3rem;
  padding: 1rem;

}
